.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);

  &.open {
    display: flex;
    justify-content: center;
  }

  &__container {
    z-index: 2;
    border-radius: 10px;
    border: 1px solid #333;
    position: absolute;
    min-height: 150px;
    background: #FFF;
    padding: 10px;
    top: 30%;
    animation: opacityModal 1s;

    slot {
      width: 100%;
      position: relative;
      display: block;
      height: 80%;
      margin-top: 25px;
    }

    .buttons {
      position: relative;
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 10px;
      align-content: space-between;

      &__container {
        position: relative;
        text-align: center;
        display: flex;

        button-custom {
          margin: 0 20px;
        }
      }
    }
  }
}

@keyframes opacityModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}